<app-navigation></app-navigation>


<div *ngIf="this.isSearchModalOpen" id="search_modal">
  <div class="search_wrapper">
    <div class="search_modal_close" (click)="this.sharedService.searchModalState(false)">
      <img src="../assets/icons/xmark-solid-white.svg" height="20">
    </div>


    <div class="search_input">


      <div>{{ this.searchNote }}</div>

      <div>
        <div class="temperature_units">
          <li (click)="this.apiService.setTemperatureUnit('standard')">Kelvin</li>
          <li (click)="this.apiService.setTemperatureUnit('metric')">Grad Celsius</li>
          <li (click)="this.apiService.setTemperatureUnit('imperial')">Fahrenheit</li>
        </div>
        <div class="search_fields">
          <input type="search" id="search" placeholder="Search Location">
          <input type="submit" id="submit" value="" (click)="this.searchLocation()">
        </div>
      </div>
    </div>

    <ng-container *ngIf="this.locationList">
      <li *ngFor="let location of this.locationList; let i = index" (click)="searchWeather(i)"
        class="location_suggest_item">
        <span class="location_name"> {{ location.name }} </span>
        <span class="location_country"> {{ location.country }} {{ location.state }} </span>
      </li>
    </ng-container>
  </div>

</div>





<div *ngIf="this.meta" class="app_wrapper">
  <div class="header">
    <div class="title">{{ this.meta.city.name }}</div>
  </div>

  <div class="current_weather_wrapper">
    <div class="current_weather_temperature">{{ this.currentWeather.main.temp | number:'1.0-0' }} K</div>
    <div class="current_weather_description">{{ this.currentWeather.weather[0].description }}</div>

    <div class="sunrise_sunset">
      <div class="sunrise">
        <img src="../assets/icons/arrow-up-solid.svg" height="20">
        <span> {{ this.meta.city.sunrise * 1000 | date :'HH:mm' }} </span>
      </div>

      <div class="sunset">
        <img src="../assets/icons/arrow-down-solid.svg" height="20">
        <span> {{ this.meta.city.sunset * 1000 | date :'HH:mm' }} </span>
      </div>
    </div>

  </div>


  <div class="weather_widget_wrapper">
    <ng-container *ngFor="let element of this.forecast; let i = index">
      <div class="weather_widget" *ngIf="i < 8">
        <div>{{ element.dt * 1000 | date :'HH:mm' }}</div>
        <div class="widget_temperature">{{ element.main.temp_max | number:'1.0-0' }} {{ 'K' | tempUnit }}</div>
      </div>
    </ng-container>
  </div>


</div>