<app-navigation></app-navigation>

<input type="search" id="search">
<input type="submit" value="Submit" (click)="this.searchLocation()">

<ng-container *ngIf="this.locationList">
  <li *ngFor="let location of this.locationList; let i = index" (click)="searchWeather(i)"
    class="location_suggest_item">
    <span class="location_name"> {{ location.name }} </span>
    <span class="location_country"> {{ location.country }} {{ location.state }} </span>
  </li>
</ng-container>


<div *ngIf="this.meta" class="app_wrapper">
  <div class="header">
    <div class="title">{{ this.meta.city.name }}</div>
  </div>

  <div>
    <div class="current_weather_temperature">{{ this.currentWeather.main.temp | number:'1.0-0' }} K</div>
    <div class="current_weather_description">{{ this.currentWeather.weather[0].description }}</div>
  </div>


  <div class="weather_widget_wrapper">
    <ng-container *ngFor="let element of this.forecast; let i = index">
      <div class="weather_widget" *ngIf="i < 8">
        <div>{{ element.dt * 1000 | date :'HH:mm' }}</div>
        <div class="widget_temperature">{{ element.main.temp_max | number:'1.0-0' }} K</div>
      </div>
    </ng-container>
  </div>


</div>