.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  position: fixed;
}

.top_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.top_navigation div {
  padding: 30px;
  cursor: pointer;
}

.open_navigation {
  // cursor: pointer;
  //padding: 20px;
}

.close_navigation {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

#navigation {
  font-size: 18px;
  color: #000;

  position: fixed;
  background-color: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70vw;
}

.navigation_wrapper {
  z-index: 99;
}

.stored_locations {
  color: #000;
}

.options_temperature {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.options_temperature li {
}
