/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; //400, 700, 900
  font-weight: 400;
  color: #fff;

  background: linear-gradient(157.83deg, #3d6bb0 0%, #0a111d 103.09%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

li {
  list-style-type: none;
}
